body, html {
  height: 100%;
  margin: 0;
}
html,body{
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
}

.navigation{
top: 0;	
width: 100%;	
background-color: #fff200;
display: grid;
grid-template-columns: repeat(5,1fr);
justify-content: center;
position: fixed;
box-shadow: 0px 4px 10px -2px #c6c6c6;
z-index: 1;
}

.header{
	margin-top: 100px;
	padding: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	top: 100px;
	border-radius: 20px;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	border: 2px #fff200 dashed;
	/*background-color: #fff200;*/
}

.header >img{
	height: 10vh;
}

.Policies{
display: grid;
grid-gap: 20px;
grid-template-columns: 1fr;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 120px;
margin-right: 120px;
}

.Policies >div{
	text-align: justify;
	padding: 40px;
	border-radius: 20px;
	border: 1px cyan dashed;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
}
.semiFooter{
	display: grid;
	margin-top: 20px;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 1rem;
	text-align: justify-all;
}

.signs{
	margin-top: 10px;
	margin-left: 50%;
	transform: translate(-50%,0);
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
}

.foot{
	background-color: black;
	padding: 10px;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;

}
.socialMedia{
	padding: 5px;
	border-radius: 20px;
	/*background-color: yellow;*/
	display: grid;
	grid-gap: 20px;
	width: 100%;
	grid-template-columns: repeat(6, 30px);
	justify-content: center;
	margin-top: 20px;
}
.socialMedia >i:hover{
	color: magenta;
}

.socialMedia >i:active{
	color: red;
}


/*MEDIA QWERY*/
@media screen and (max-width: 768px){
	.Policies{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	margin: 20px;
	}
	 .semiFooter{
	margin-top: 20px;
	padding: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 10px;
	text-align: justify;
	}

	.signs{
	display: none;
	}
}