body, html {
  height: 100%;
  margin: 0;
}
html,body{
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
	text-decoration-style: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover{
	color: white;
}
.testimoPics{
	width: 100%;
	border-radius: 10px;
	height: 40vh;
	object-fit: cover;
	object-position: center;
}

/*SERACH BAR*/
  #searchbar{ 
  	 margin-top: 70px;
     margin-left: 50%; 
     transform: translate(-50%,-50%);
     padding: 15px;
     border: 1px cyan solid;
     border-radius: 50px; 
   } 
 
   input[type=text] { 
      width: 25%; 
      -webkit-transition: width 0.15s ease-in-out; 
      transition: width 0.15s ease-in-out; 
   } 
 
   /* When the input field gets focus, 
        change its width to 100% */
   input[type=text]:focus { 
     width: 30%;
     outline: none !important; 
   } 
 
  #list{ 
  	display: none;
  	text-align: left;
  	padding: 5px;
  	width: 50%;
  	margin-top: 0px;
  	/*border-radius: 20px;*/
  	box-shadow: 0px 0px 4px 0px #c6c6c6;
  	max-height: 200px;
  	overflow-y: auto;
  	font-size: 10;
  	border: 1px orange dashed;
    /*background: grey;*/
   } 


/*   SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*   SCROLLBAR*/
 
.foods{ 
   display: list-item;     
  }
ul > li{
	padding: 5px;
}
 ul > li:hover{
 	background: #667eea;
 	transition: 0.15s ease-in-out;
 }

 /*SERACH BAR*/

.navigation{
top: 0;	
width: 100%;	
background-color: #fff200;
display: grid;
grid-template-columns: repeat(4,1fr);
justify-content: center;
position: fixed;
box-shadow: 0px 4px 10px -2px #c6c6c6;
z-index: 1;
}

#links{
	text-decoration: none;
	color: black;
}
#links: hover{
	color: white;
}

.header{
	margin-top: 100px;
	padding: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	justify-content: center;
	top: 100px;
	border-radius: 20px;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	border: 2px #fff200 dashed;
	/*background-color: #fff200;*/
}

.header >img{
	height: 10vh;
}

.Recipies{
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(2,1fr);
margin: 40px;
}

.Recipies >div{
	text-align: justify;
	padding: 10px;
	border: 1px red dashed;
	border-radius: 20px;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
}
.semiFooter{
	display: grid;
	margin-top: 20px;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 1rem;
	text-align: justify-all;
}

.signs{
	margin-top: 10px;
	margin-left: 50%;
	transform: translate(-50%,0);
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
}

.foot{
	background-color: black;
	padding: 10px;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;

}
.socialMedia{
	padding: 5px;
	border-radius: 20px;
	/*background-color: yellow;*/
	display: grid;
	grid-gap: 20px;
	width: 100%;
	grid-template-columns: repeat(6, 30px);
	justify-content: center;
	margin-top: 20px;
}
.socialMedia >i:hover{
	color: magenta;
}

.socialMedia >i:active{
	color: red;
}


/*MEDIA QWERY*/
@media screen and (max-width: 768px){
	.testimoPics{
	filter: gray;
	height: 20vh;
	border-radius: 20px;
	object-fit: cover;
	object-position: center;
	}
	.Recipies{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	margin: 20px;
	}
	 .semiFooter{
	margin-top: 20px;
	padding: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 10px;
	text-align: justify;
	}

	.signs{
	display: none;
	}
	  input[type=text] { 
      width: 20%; 
      -webkit-transition: width 0.15s ease-in-out; 
      transition: width 0.15s ease-in-out; 
   } 
 
   /* When the input field gets focus, 
        change its width to 100% */
   input[type=text]:focus { 
     width: 40%;
     outline: none !important; 
   }
     #searchbar{ 
  	 margin-top: 50px;
     margin-left: 50%; 
     transform: translate(-50%,-50%);
     padding: 10px; 
     border-radius: 20px; 
   } 
 

}