body, html {
  height: 100%;
  margin: 0;
}
html,body{
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
	text-decoration-style: none;
}
.downloadApp{
	display: none;
}
.donateButton{
	width: 50%;
	text-align: center;
	background: #ff758c;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #e4e4e4;
}
.donateButton:hover{
	background: #75ffe8;
	transition: 0.3s;
}
.teamMember{
	display: grid;
	grid-gap: 20px;
	text-align: center;
	grid-template-columns: repeat(2,1fr);
	justify-items: center;
	align-items: center;
}
.teamMemberImage{
	width: 30%;
	border: 1px dashed cyan;
	box-shadow: 0px 0px 4px 0px #e4e4e4;
	border-radius: 50%;
}
.foods{ 
   display: list-item;     
  }
ul > li{
	padding: 5px;
}
 ul > li:hover{
 	background: #667eea;
 	transition: 0.15s ease-in-out;
 }

 /*SERACH BAR*/

.navigation{
top: 0;	
width: 100%;	
background-color: #fff200;
display: grid;
grid-template-columns: repeat(4,1fr);
justify-content: center;
position: fixed;
box-shadow: 0px 4px 10px -2px #c6c6c6;
z-index: 1;
}

#links{
	text-decoration: none;
	color: black;
}
#links: hover{
	color: white;
}

.header{
	margin-top: 100px;
	padding: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	justify-content: center;
	top: 100px;
	border-radius: 20px;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	border: 2px #fff200 dashed;
	/*background-color: #fff200;*/
}

.header >img{
	height: 10vh;
}

.Recipies{
padding: 60px;
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(2,1fr);
margin: 40px;
}

.Recipies >div{
	text-align: justify;
	padding: 10px;
	border-radius: 20px;
	border: 1px red dashed;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
}
.writeToUs{
	padding: 20px;
/*	background: #595c5b;*/
	border: 1px dashed red;
	width: 60%;
	border-radius: 10px;
	margin: auto;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
}

#name{
	width: 50%;
	padding: 10px;
	margin: 5px;
	border: 1px cyan dashed;
}
#email{
	width: 50%;
	padding: 10px;
	margin: 5px;
	border: 1px cyan dashed;
}
#rply{
	width: 50%;
	min-height: 50px;
	padding: 10px;
	margin: 5px;
	border: 1px cyan dashed;
}
#btnSubmit{
	background: white;
	width: 30%;
	min-height: 50px;
	padding: 5px;
	margin: 5px;
	border: 1px orange dashed;
}
.alert{
	margin-bottom: 20px; 
	background: #ff7eb3;
	padding: 5px;
	border-radius: 20px;
}
#contactForm >legend{
	margin-bottom: 20px;
}

.semiFooter{
	display: grid;
	margin-top: 20px;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 1rem;
	text-align: justify-all;
}

.signs{
	margin-top: 10px;
	margin-left: 50%;
	transform: translate(-50%,0);
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
}

.foot{
	background-color: black;
	padding: 10px;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;

}
*{
	text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: none;
  text-align: left;
  padding: 8px;
}
.socialMedia{
	padding: 5px;
	border-radius: 20px;
	/*background-color: yellow;*/
	display: grid;
	grid-gap: 20px;
	width: 100%;
	grid-template-columns: repeat(6, 30px);
	justify-content: center;
	margin-top: 20px;
}
.socialMedia >i:hover{
	color: magenta;
}

.socialMedia >i:active{
	color: red;
}

/*MEDIA QWERY*/
@media screen and (max-width: 768px){
	.writeToUs{
		width: 75%;
		box-shadow: 0px 4px 10px -2px #c6c6c6;
	}
	.downloadApp{
		display: block;
	}
	.Recipies{
	padding: 10px;	
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	margin: 20px;
	}
	 .semiFooter{
	margin-top: 20px;
	padding: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 10px;
	text-align: justify;
	}

	.signs{
	display: none;
	}

}